__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.DS_Store
.ipynb_checkpoints/
/*.csv
/*.zip
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/derived/*
!data/derived/.gitkeep
data/reports/*
!data/reports/.gitkeep